section{
    width: 80%;
    margin: 30px auto;
}
.phase_box{
    height: calc(100vh - 230px);
    background-color: #f8f9fa;
    border-radius: 20px;
    padding: 80px 70px;
    margin-bottom: 30px;
}
 
html::-webkit-scrollbar {
    display: none; /* 크롬, 사파리, 오페라, 엣지 */
}
.book_name{
    font-size: xx-large;
    text-decoration: none;
}
.phase{
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    width: 90%;
    font-size: x-large;
    color: rgb(69, 69, 69);
    word-break:keep-all;
    text-align: center;
}
.comment{
    font-size: x-large;
    text-decoration: none;
    color: gray;
    float:right;

    position: absolute;
    bottom: 70px;
    right: 70px;
}
.btn{
  background-color: #00bfb9;
  color:#ffffff; 
  border:none; 
}

.btn:hover{
  background-color:#00a8a3;
  transition: 0.7s;
}