section{
    padding: 50px 50px;
}
.book_name{
    font-size: x-large;
    text-decoration-line: none;
    margin-bottom: 10px;
}
.phase_title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;
}
.phase_title p{
    margin: 10px 0;
}
.phase_box{
    padding: 30px;
    background-color: #f8f9fa;
    border-radius: 10px;
    margin: 20px 50px 100px 50px;
}
.phase{
    font-size: larger;
}
#form-commentInfo{
  padding-left: 6%;
}
#comment-input{
  width: 88%;
  height: 6%;
}
#submit{
  width: 5.4%;
  height: 6%;
  border-radius: 7px;
  border-color: lightgray;
  background-color: rgb(235, 235, 235);
}
#like_btn{
  width: 100px;
  border-color: gainsboro;
  border-radius: 7px;
  color: #606060;
}
.comment_box{
  padding: 10px;
  background-color: #f8f9fa;
  border-radius: 10px;
  margin: 10px 100px;
}
.comment_title{
  display: flex;
  justify-content: space-between;
}
.user_id{
  margin: 5px 20px;
  font-size: 19px;
  color: #0d6efd;
}
.comment_date{
  margin: 9px 20px;
  font-size: 13px;
}
.comment_contents{
  margin: 5px 20px;
}
#comment-input{
  margin: 8px 0px 8px 0px;
  padding-left: 10px;
  border-radius: 7px;
  border-color: lightgray;
}
#delete_btn{
  background-color: lightgray;
  width: 40px;
  border-color: gainsboro;
  border-radius: 7px;
  margin-left: 12px;
  font-size: x-small;
  color: grey;
}