@font-face {
    font-family: 'ONE-Mobile-Title';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
section{
    font-family: 'ONE-Mobile-Title';
    padding: 50px 150px;
}
.book_name{
    font-size: xx-large;
    color:black;
}
.book_author{
    font-size: larger;
    color: gray;
}
textarea{
    resize: none;
    outline: none;
    border: 3px solid black;
    border-radius: 10px;
    min-width: 600px;
    width: 100%;
    padding: 20px;
    font-size: 22px;
}
.submit{
    float: right;
    padding: 10px 15px;
    width: 150px;
    border-radius: 30px;
    border: none;  
    font-size: 22px;
    background: linear-gradient(to right, rgb(77, 211, 206), rgb(124, 219, 187));
    box-shadow: 0 5px 10px -8px rgba(10,10,10,1);
}
.submit:hover{
    background: linear-gradient(to right, rgb(67, 167, 164), rgb(67, 208, 161));

}
