@font-face {
    font-family: 'ONE-Mobile-Title';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
section{
    font-family: 'ONE-Mobile-Title';
    padding: 50px 150px;
}
.book_name{
    font-size: xx-large;
    color:black;
}
.book_author{
    font-size: larger;
    color: gray;
}
textarea{
    resize: none;
    outline: none;
    border: 3px solid black;
    border-radius: 10px;
    min-width: 600px;
    width: 100%;
    padding: 10px;
    font-size: 20px;
}
.submit{
    float: right;
    width:100px;
    height: 40px;
    border-radius: 20px;
}
